<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>PDF Example</title>
</head>
<body>
	<h1>Hello <%= name %>!</h1>
	<p>This is an example PDF created with EJS and html-pdf.</p>
</body>
</html>